<div class="container">
  <h1>Welcome on Mister Cocktail</h1>
  <div class="row">
    <div class="col-sm-8">
      <ul>
        <% @cocktails.each do |cocktail| %>
        <li><%= cockail.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
